<!DOCTYPE html> {# HTML5 declaration #}
<html>
{# Make modifiable head elements #}
<head>

    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">-->

    {% load static %}
    {% load staticfiles %}

    <title>{% block title %}Home {% endblock title %} | CRM Easy</title>
    {% block head_favicon %}
        <link rel="icon" type="image/png" href="{% static 'intranet/img/favicon.ico' %}">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="en-US" />
        {% endblock head_meta_contentlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link href="{% static 'intranet/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
            <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">-->
            <link href="{% static 'intranet/css/app.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'intranet/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>

<body>
    {# Navigation Menu #}
    {% block nav_bar %}
    {% endblock nav_bar %}

    {# The Document Body #}
    <div id="site-wrapper">
        {% block content %}
            if you see this, something is wrong! </br>
            You just forget block content !
        {% endblock content %}
    </div>
    {# The Footer #}
    {% block footer %}
    {% endblock footer %}
</body>

{# Set of blocks that can be used to display JavaScript files #}
{% block footer_javascript %}
    {% block footer_javascript_site %}
        <script src="{% static 'intranet/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'intranet/js/app.js' %}"></script>
        <script src="{% static 'intranet/js/gmaps.min.js' %}"></script>
        <script src="{% static 'intranet/js/bootstrap.min.js' %}"></script>
    {% endblock footer_javascript_site %}
    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>