{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' with nots=nots %}
{% endblock nav_bar %}

{% load intranet_extras %}
{% block content %}
 <div class="container container_extras">
            <h3 class="text-center mt-2">Liste des cours reçus</h3>
            {% include 'intranet/messages.html' with messages=messages %}
            {% if lessons_list %}
                <div class="table-responsive p-2 pb-5">
                    <!--table-bordered-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th>Professeur</th>
                            <th>Date</th>
                            <th>Durée</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for l in lessons_list %}
                         <tr>
                            <td>{{ l.relation.teacher }}</td>
                            <td>{{ l.date}}</td>
                            <td>{{ l.nb_h }}h{{l.nb_m}}</td>
                            {% if l.is_valid_s %}
                             <td>
                                 <a class="li-ic btn" style="color: black;cursor: default;">
                                    <i class="fa fa-check fa-lg white-text" style="color: black;cursor: default;"></i>
                                 </a>
                             </td>
                            {% elif l.is_valid_s == False and l.is_unvalid == False %}
                            <td>
                                <a class="li-ic btn" href="{% url 'intranet:validation_eleve' id=l.pk result='valid' %}">
                                    <i class="fa fa-check fa-lg white-text" style="color: green;"></i>
                                </a>
                                <a class="li-ic btn" href="{% url 'intranet:validation_eleve' id=l.pk result='refus' %}">
                                    <i class="fa fa-times fa-lg white-text" style="color: red;"></i>
                                </a>
                            </td>
                            {% else %}
                             <td>
                                 <a class="li-ic btn" style="color: black;cursor: default;">
                                    <i class="fa fa-times fa-lg white-text" style="color: black;cursor: default;"></i>
                                 </a>
                             </td>
                            {% endif %}
                         </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h5>Vous n'avez encore reçu aucun cours</h5>
            {% endif %}
 </div>
{% endblock content %}


{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}