{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% load intranet_extras %}
{% load static %}
{% block content %}
 <div class="container container_extras" >
     <h3 class="text-center mt-2">Bienvenue sur l'intranet</h3>
     <h5>Paiement des frais d'adhésion:</h5>
     {% include 'intranet/messages.html' with messages=messages %}
     {% if user.is_staff %}
     <p>Les frais d'adhésion sont facturés {{ad_prof}}€ pour chaque professeur et doivent être renouvelés tous les ans à partir de la date du premier paiement.</p>
     {% else %}
     <p>Les frais d'adhésion sont facturés {{ad}}€ par élève (ou de {{ad_reduc}}€ à partir du deuxième) et doivent être renouvelés chaque année à partir de la date du premier paiement.</p>
     {% endif %}
     {% if eleves %}
        <p>Élève(s):</p>
        <ol>
        {% for e in eleves %}
            <li>{{e}}</li>
        {% endfor %}
        </ol>
     {% endif %}
     <p>Vos frais d'ahésion s'élèvent donc à {{price}}€</p>
     <form action="{% url 'intranet:checkout_inscription' %}" role='form' method="POST">
        {% csrf_token %}
        <input type="text" name="fac_id" id="fac_id" value="{{price}}" hidden required>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-image="{% static 'intranet/img/efp_logo.png' %}"
            data-key="{{key}}"
            data-amount="{{ price|stripe }}"
            data-name="Ecole Française de Piano"
            data-description="Adhésion EFP"
            data-currency="eur"
            data-locale="fr">
        </script>
    </form>
    <a class="btn btn-info btn-sm mt-3" href="{% url 'intranet:creation_inscription' %}" role="button">Retour</a>
 </div>
{% endblock content %}


{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}