{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% block content %}
 <div class="container container_extras" >
     <h3 class="text-center mt-2">Bienvenue sur l'intranet</h3>
     <h5>Formulaire d'Adhésion:</h5>
     {% include 'intranet/messages.html' with messages=messages %}

     <h6><b>CONDITIONS GENERALES D’ADHESION</b></h6>
     <p>Vous trouverez ci-dessous les conditions générales d'utilisation, merci d'en prendre note:</p>
     <p><a href="{{ condition.file.url }}">conditions générales de l'efp</a></p>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
 </div>
{% endblock content %}


{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}