{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% load intranet_extras %}
{% block content %}
 <div class="container container_extras">
     <h3 class="text-center mt-2"> Mes Documents</h3>
     <a href="{% url 'intranet:gen_attest_pdf' %}">test</a>
    <!--Gestion des factures-->
    {% if user.is_superuser %}
        <h5> Liste des Factures Non payées</h5>
        {% include 'intranet/messages.html' with messages=messages %}
        {% include 'intranet/factures.html' with factures_list=factures_list_notpaid %}
        <h5> Liste des Factures Payées</h5>
        {% include 'intranet/factures.html' with factures_list=factures_list_paid %}
    {% else %}
        <h5> Liste des Factures </h5>
        {% include 'intranet/messages.html' with messages=messages %}
        {% include 'intranet/factures.html' with factures_list=factures_list %}
    {% endif %}
 </div>
{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}