{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% load intranet_extras %}
{% block content %}
 <div class="container container_extras">
     <h3 class="text-center mt-2"> Mes Documents</h3>
     <a href="{% url 'intranet:gen_attest_pdf' %}">test</a>
     <h5> Adhésion </h5>
     {% if user.is_adherent %}
     <p>Vous êtes bien adhérent d'Ecole01</p>
     {% else %}
     <p>Pour régler votre adhésion à Ecole01, cliquer si dessous:</p>
     <!--<form action="{% url 'intranet:checkout' %}" role='form' method="POST">-->
        <!--{% csrf_token %}-->
        <!--<input type="text" name="fac_id" id="fac_id" value="{{facture.pk}}" hidden required>-->
        <!--<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
            <!--data-key="{{key}}"-->
            <!--data-amount="{{ facture.price_ttc|stripe }}"-->
            <!--data-name="Ecole Française de Piano"-->
            <!--data-description="{{facture.type}}"-->
            <!--data-currency="eur">-->
        <!--</script>-->
    <!--</form>-->
    {% endif %}

    <!--Gestion des factures-->
    {% if user.is_superuser %}
        <h5> Liste des Factures Non payées</h5>
        {% include 'intranet/messages.html' with messages=messages %}
        {% include 'intranet/factures.html' with factures_list=factures_list_notpaid %}
        <h5> Liste des Factures Payées</h5>
        {% include 'intranet/factures.html' with factures_list=factures_list_paid %}
    {% else %}
        <h5> Liste des Factures </h5>
        {% include 'intranet/messages.html' with messages=messages %}
        {% include 'intranet/factures.html' with factures_list=factures_list %}
    {% endif %}
 </div>
{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}