


<!-- Footer -->
<footer class="footer2 page-footer font-small bg-light darken-3 mt-4">
<!-- Footer Elements -->
<div class="container text-center">
  <!-- Grid row-->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12 py-2 center" style="width: 100%">
        <!-- Facebook -->
        <a target="_blank" class="fb-ic" href="https://www.facebook.com/ecolefrancaisedepiano/" style="color: #3b5998;">
          <i class="fa fa-facebook fa-lg white-text mr-md-4 mr-5 mt-3 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a target="_blank" class="tw-ic" href="https://twitter.com/CoursdepianoEFP" style="color: #1da1f2;">
          <i class="fa fa-twitter fa-lg white-text mr-md-4 mr-5 mt-3 fa-2x"> </i>
        </a>
        <!-- Google +-->
        <a target="_blank" class="yt-ic" href="https://www.youtube.com/channel/UCpqZxNibWfqWBjZHcOjqVtA" style="color: #ff0000;">
          <i class="fa fa-youtube fa-lg white-text mr-md-4 mr-5 mt-3 fa-2x"> </i>
        </a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row-->
</div>
<!-- Footer Elements -->
<!-- Copyright -->
<div class="footer footer-copyright text-center pb-4">
    Pour toutes questions, veuillez prendre contact avec nous au 01 85 09 93 87 ou <a href="mailto:info@ecolefrancaisedepiano.fr">info@ecolefrancaisedepiano.fr</a><br>
    © 2018 Copyright: <a target="_blank" href="https://www.ecolefrancaisedepiano.fr/">ecolefrancaisedepiano.fr</a>- Développé avec <i class="fa fa-heart" style="color: red;"></i> par <a target="_blank" href="https://www.jeece.fr/" style="color: green;">JEECE</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
