{% extends 'intranet/base.html' %}
{% block title %}Mes Membres{% endblock %}

{% block nav_bar %}
{% include 'intranet/nav_bar.html' with nots=nots %}
{% endblock nav_bar %}

{% block content %}
<div class="container container_extras">
    <div class="tab-content">
        <h3 class="text-center mt-2">Envoyez une invitation</h3>
        <p>Envoyez une invitation par email en cliquant sur le bouton juste en dessous:</p>
        {% include 'intranet/messages.html' with messages=messages %}
        <form class="form-signin" method="POST"  role="form" action="{% url 'intranet:invitation' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-sm btn-primary btn-signin" type="submit">Invitez</button>
        </form>
        <h3 class="text-center mt-2"> Liste des invitations </h3>
        {% if invitations_list %}
            <div class="table-responsive p-2 pb-5">
                <!--table-bordered-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>Token</th>
                        <th>Email</th>
                        <th>Inscrit</th>
                        <th>Professeur</th>
                        <th>Adh Gratuit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inv in invit_page %}
                        <tr>
                        <td>{{ inv.uuid }}</td>
                        <td>{{ inv.email }}</td>
                        {% if inv.valid %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                        {% if inv.is_staff %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                        {% if inv.is_free %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% include 'intranet/paginator_notification.html' with page_obj=invit_page %}
        {% else %}
        <p>Vous n'avez pas envoyé d'invitation</p>
        {% endif %}
    </div>
</div>

</div>
{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}