{% extends 'intranet/base.html' %}
{% block title %}Mes Membres{% endblock %}

{% block nav_bar %}
{% include 'intranet/nav_bar.html' with nots=nots %}
{% endblock nav_bar %}

{% block content %}
<div class="container container_extras">
    <div class="tab-content">
        <h3 class="text-center mt-2">Créer une facture</h3>
        <p>Créer une facture en remplissant le formulaire ci-dessous</p>
        {% include 'intranet/messages.html' with messages=messages %}
        <form class="form-signin" method="POST"  role="form" action="{% url 'intranet:gestion_factures' %}">
            {% csrf_token %}
            {% include 'intranet/bs4_form.html' with form=form %}
            <div class="row spacer">
                <div class="col-4 offset-2 mt-2">
                    <button type="submit" class="btn btn-block btn-primary">Envoyez</button>
                </div>
            </div>
            </form>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}>