{% extends 'intranet/base.html' %}
{% block title %}Mes Membres{% endblock %}

{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% load intranet_extras %}
{% block content %}
<div class="container container_extras">
    <div class="tab-content">
        <h3 class="text-center mt-2">Gérer mes Prix</h3>
        <h5>Fixer un nouveau prix: <i class="fa fa-money btn white-text" style="color: black;" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i></h5>
        {% include 'intranet/messages.html' with messages=messages %}
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
        <form method="post" role="form" action="{% url 'intranet:prix' %}">
            {% csrf_token %}
            {% include 'intranet/bs4_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
            </div>
        </div>
        <h3 class="text-center mt-2"> Liste des Prix</h3>
            {% if prix_list %}
            <p>* prix influencés par la TVA</p>
            <p>** prix en euros</p>
            <div class="table-responsive p-2 pb-5">
                <!--table-bordered-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>TVA (%)</th>
                        <th>Adhésion*</th>
                        <th>Adh. TTC</th>
                        <th>Cours</th>
                        <th>Commission*</th>
                        <th>Com. TTC</th>
                        <th>Frais de Gestion*</th>
                        <th>Frais Gest° TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in prix_list %}
                        <tr>
                        <td>{{ p.start|date:"d M Y" }}</td>
                        <td>{{ p.end|date:"d M Y" }}</td>
                        <td>{{ p.tva|floatformat:2 }}</td>
                        <td>{{ p.adhesion|floatformat:2 }}</td>
                        <td>{{ p.adhesion|tva:p.tva|floatformat:2 }}</td>
                        <td>{{ p.cours|floatformat:2 }}</td>
                        <td>{{ p.commission|floatformat:2 }}</td>
                        <td>{{ p.commission|tva:p.tva|floatformat:2 }}</td>
                        <td>{{ p.frais_gestion|floatformat:2 }}</td>
                        <td>{{ p.frais_gestion|tva:p.tva|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <p>Vous n'avez pas fixé de prix</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}