{% extends 'intranet/base.html' %}
{% block title %}Account{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% block content %}
 <div class="container container_extras">
        <!--<div class="card card-container ">-->
            <h3 class="text-center mt-2 mb-3">Profile de {{ user }} </h3>
            {% if not user.userprofile.is_adherent %}
            <p>Vous n'êtes pas adhérent de l'EFP !</p>
            {% else %}
            <p>Vous êtes adhérent de l'EFP jusqu'au {{ adh }}</p>
            {% endif %}
            {% if user.is_staff %}
                {% if user.userprofile.sap == "SAP" %}
                <p style="color: orange;">Penser à actualiser votre numéro <strong>SAP</strong>, indispensable à la facturation !</p>
                {% endif %}
                {% if user.userprofile.siret == "SIRET" %}
                <p style="color: orange;">Penser à actualiser votre numéro <strong>SIRET</strong>, indispensable à la facturation !</p>
                {% endif %}
                {% if user.userprofile.stripe_account_id == "StripeAccId" %}
                <p style="color: orange;">Penser à lier votre <strong>compte Stripe</strong>, indispensable à la facturation !</p>
                <!--<a href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_DfZvYjYWFkumbdMUG2ECSICH1sWDZb0B&scope=read_write" class="stripe-connect"><span>Connect with Stripe</span></a>-->
                <a href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_DfZv1K82vK9eUSchoB72BpFqej6WIAw0&scope=read_write" class="stripe-connect mb-4"><span>Connect with Stripe</span></a>
                {% endif %}
            {% endif %}
            <h5>Vos informations personnelles:</h5>
            {% include 'intranet/messages.html' with messages=messages %}
            <p>Pseudo: {{ user }}</p>
            <p>Nom/Prénom: {{ user.last_name }} {{ user.first_name }}</p>
            <p>Téléphone: {{ user.userprofile.phone_number }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Adresse: {{ user.userprofile.address }}</p>
            <p>Ville: {{ user.userprofile.city }}</p>
            <p>Code postal: {{ user.userprofile.zip_code }}</p>
            <p>Pays: {{ user.userprofile.country }} </p>
            {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar.url }}" width="240">
            {% endif %}
            {% if user.is_staff %}
            <p>SIRET: {{ user.userprofile.siret }}</p>
            <p>SAP: {{ user.userprofile.sap }}</p>
            <!--<p>ID Compte Stripe: {{ user.userprofile.stripe_account_id}} </p>-->
            {% else %}
                <p>Elève(s):</p>
                <ol>
                {% for e in eleves %}
                    <li>{{e}}</li>
                {% endfor %}
                </ol>
            {% endif %}
            <a class="btn btn-info btn-sm" href="{% url 'intranet:edit_compte' %}" role="button">Modifier mon profile</a>
            <a class="btn btn-warning btn-sm" href="{% url 'intranet:edit_pass' %}" role="button">Modifier mon mot de passe</a>
        <!--</div>-->
 </div>
{% endblock content %}


{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}