{% extends 'intranet/base.html' %}
{% block title %}Account{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' with nots=nots %}
{% endblock nav_bar %}

{% block content %}
 <div class="container container_extras">
        <!--<div class="card card-container ">-->
            <h3 class="text-center mt-2 mb-3">Profil de {{ user }} </h3>
            {% if not user.userprofile.is_adherent %}
            <p>Vous n'êtes pas adhérent de l'EFP !</p>
            {% else %}
            <p>Vous êtes adhérent de l'EFP jusqu'au {{ adh }}</p>
            {% endif %}
            {% if user.is_staff %}
                {% if user.userprofile.sap == "SAP" %}
                <p style="color: orange;">Pensez à actualiser votre numéro <strong>SAP</strong>, indispensable à la facturation !</p>
                {% endif %}
                {% if user.userprofile.siret == "SIRET" %}
                <p style="color: orange;">Pensez à actualiser votre numéro <strong>SIRET</strong>, indispensable à la facturation !</p>
                {% endif %}
                {% if user.userprofile.stripe_account_id == "StripeAccId" %}
                <p style="color: orange;">Pensez à lier votre <strong>compte Stripe</strong>, indispensable à la facturation !</p>
                <a target="_blank" href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_DdH9cNYeSBQW5FhrDTFrpMYUYqzexQ6Y&scope=read_write" class="stripe-connect"><span>Connect with Stripe</span></a>
                <!--<a target="_blank" href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_DfZv1K82vK9eUSchoB72BpFqej6WIAw0&scope=read_write" class="stripe-connect mb-4"><span>Connect with Stripe</span></a>-->
                {% endif %}
            {% endif %}
            <h5>Vos informations personnelles :</h5>
            {% include 'intranet/messages.html' with messages=messages %}
            <p>Pseudo : {{ user.username }}</p>
            <p>Nom/Prénom : {{ user.last_name }} {{ user.first_name }}</p>
            <p>Téléphone : {{ user.userprofile.phone_number }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Adresse : {{ user.userprofile.address }}</p>
            <p>Code postal: {{ user.userprofile.zip_code }}</p>
            <p>Ville : {{ user.userprofile.city }}</p>
            <p>Pays : {{ user.userprofile.country }} </p>
            {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar.url }}" width="240">
            {% endif %}
            {% if user.is_staff %}
            <p>SIRET : {{ user.userprofile.siret }}</p>
            <p>SAP : {{ user.userprofile.sap }}</p>
            <!--<p>ID Compte Stripe: {{ user.userprofile.stripe_account_id}} </p>-->
            {% endif %}
            <a class="btn btn-info btn-sm" href="{% url 'intranet:edit_compte' %}" role="button">Modifiez mon profil</a>
                {% if user.is_superuser %}
                <a class="btn btn-warning btn-sm" href="{% url 'admin:auth_user_password_change' user.id %}" role="button">Modifiez mon mot de passe</a>
                {% else %}
                <a class="btn btn-warning btn-sm" href="{% url 'intranet:edit_pass' %}" role="button">Modifiez mon mot de passe</a>
                {% endif %}
            {% if eleves %}
                <p class="mt-3">Élève(s):</p>
                <ol>
                {% for e in eleves %}
                    <li class="my-2">{{e}} <a class="btn btn-warning btn-sm" href="{% url 'intranet:edit_eleve' id=e.pk %}" role="button">Editez</a>
                        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#my_modal_{{e.pk}}" role="button">Supprimez</a></li>
                    <div class="modal fade" id="my_modal_{{e.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <h5 class="modal-title" id="exampleModalLongTitle">Attention !</h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                     </button>
                                 </div>
                                 <div class="modal-body">
                                     Attention, vous allez supprimer un de vos élèves, cette action est irréversible !
                                     Êtes-vous sûr de vouloir continuer ?
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                     <a role="button" href="{% url 'intranet:remove_eleve' id=e.pk %}" class="btn btn-danger">Supprimez</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                {% endfor %}
                </ol>
            <a class="btn btn-info btn-sm" href="{% url 'intranet:add_eleve' %}" role="button">Ajoutez un élève</a>
            {% endif %}
        <!--</div>-->
 </div>
{% endblock content %}


{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}