{% load static %}
{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <img id="profile-img" style="width:50px; height:50px; border-radius: 50%;" class="img-responsive mr-3 ml-3" src="{% static 'intranet/img/efp_logo.png' %}" />
    <a class="navbar-brand" style="font-size:25px">&Eacute;cole Française de Piano</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!---->
    <!---->
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'intranet:accueil' %}">Accueil</a>
                    <div class="dropdown">
                          <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                            Modifications
                          </a>
                          <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'intranet:mon_compte' %}">Mon compte</a>
                                <a class="dropdown-item" href="{% url 'intranet:cours_prof' %}">Mes cours</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_mail' %}">Envoyer un Mail</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_factures' %}">Créer une Facture</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_condition' %}">Modifier les Cdt Générale</a>
                          </div>
                    </div>
                    <div class="dropdown">
                          <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                            Gestion
                          </a>
                          <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin">Administration</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_articles' %}">Mes Articles</a>
                                <!--<a class="dropdown-item" href="{% url 'intranet:gestion_membres' %}">Mes Membres</a>-->
                                <a class="dropdown-item" href="{% url 'intranet:gestion_invitations' %}">Mes Invitations</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_relations' %}">Mes Relations</a>
                                <a class="dropdown-item" href="{% url 'intranet:gestion_prix' %}">Mes Prix</a>
                          </div>
                    </div>
                    <a class="nav-item nav-link" href="{% url 'intranet:documents' %}">Mes documents</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:notifications' %}">Notifications</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:statistiques' %}">Statistiques</a>
                    <a class="fa fa-sign-out nav-item nav-link fa-lg mt-1" href="{% url 'intranet:deconnexion' %}" aria-hidden="true"></a>
                </div>
            </div>
        {% elif user.is_staff %}
            {% if user.userprofile.is_adherent %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'intranet:accueil' %}">Accueil</span></a>
                    <a class="nav-item nav-link" href="{% url 'intranet:mon_compte' %}">Mon compte</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:cours_prof' %}">Mes cours</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:documents' %}">Mes documents</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:notifications' %}">Notifications</a>
                    <a class="fa fa-sign-out nav-item nav-link fa-lg mt-1" href="{% url 'intranet:deconnexion' %}" aria-hidden="true"></a>
                </div>
            </div>
            {% else %}
                <a class="navbar-text ml-auto">Vous n'êtes pas adhérent</a>
            {% endif %}
        {% else %}
            {% if user.userprofile.is_adherent %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'intranet:accueil' %}">Accueil</span></a>
                    <a class="nav-item nav-link" href="{% url 'intranet:mon_compte' %}">Mon compte</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:cours_eleve' %}">Mes cours</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:documents' %}">Mes documents</a>
                    <a class="nav-item nav-link" href="{% url 'intranet:notifications' %}">Notifications</a>
                    <a class="fa fa-sign-out nav-item nav-link fa-lg mt-1" href="{% url 'intranet:deconnexion' %}" aria-hidden="true"></a>
                </div>
            </div>
            {% else %}
                <a class="navbar-text ml-auto">Vous n'êtes pas adhérent</a>
            {% endif %}
        {% endif %}
    {% else %}
        <a class="navbar-text ml-auto">Vous n'êtes pas connecté</a>
    {% endif %}

</nav>