{% extends 'intranet/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% block content %}
<div class="container container_extras">
    <h1>Changement de Mot de Passe</h1>
    <p>
        Un email contenant des instructions pour modifier votre mot de passe a bien été envoyé,
        vous allez le recevoir dans quelques instant, n'oubliez pas de chercher dans votre dossier spam.
    </p>
</div>
{% endblock content %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}