{% load i18n %}{% autoescape off %}
<div>Chère Madame, Cher Monsieur,</br></br>
Vous recevez ce message en réponse à votre demande de réinitialisation de votre mot de passe sur t {{ site_name }}.</br></br>
Veuillez cliquer sur le lien ci-dessous et définir un nouveau mot de passe :</div></br>
{% block reset_link %}
https://{{ domain }}{% url 'intranet:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}