{% extends 'intranet/base.html' %}
{% block title %}Home{% endblock %}
{% block nav_bar %}
{% include 'intranet/nav_bar.html' %}
{% endblock nav_bar %}

{% block content %}
<div class="container container_extras">
     <h3 class="text-center mt-2"> Mes statistiques </h3>
     <h5 class="my-2"> Il y a actuellement {{prof}} professeurs, {{eleve}} élèves ainsi que {{compte}} comptes utilisateurs</h5>
     <h5> Différentes données statistiques: </h5>
     <div>
         <img src="{% url 'intranet:graphs_membres' %}" class="img-responsive rounded">
         <img src="{% url 'intranet:graphs_stats' %}" class="img-responsive rounded">
     </div>
    <div class="main_maps text-center">
        <div class="maps_text" onload="showmap();">
            <h3>Adresses des membres d'Ecole01</h3>
            <div id="map_canvas" class="mapheight"></div>
        </div>
    </div>
 </div>
{% endblock content %}


{% block footer_javascript_page %}
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCXUj0Fckg0flxpZTUsCWuPwwgWMjZqtdo"></script>
<script type="text/javascript">
    var map;
    function showmap() {
        var mapOptions = {
            zoom: 12,
            scrollwheel: false,
            center: new google.maps.LatLng(48.864716, 2.349014),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        $('.mapheight').css('height', '350');
        google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
    }

    function addMarkers() {
        {% for user in geo_list %}
            var point = new google.maps.LatLng({{user.lat}},{{user.lgn}});
            {% if user.user.is_superuser %}
            var image = 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png';
            var marker = new google.maps.Marker({
            position: point,
            map: map,
            icon: image,
            title: '{{ user.city }}',
            });
            {% elif user.user.is_staff %}
            var image = 'https://maps.google.com/mapfiles/ms/icons/green-dot.png';
            var marker = new google.maps.Marker({
            position: point,
            map: map,
            icon: image,
            title: '{{ user.city }}',
            });
            {% else %}
            var image = 'https://maps.google.com/mapfiles/ms/icons/red-dot.png';
            var marker = new google.maps.Marker({
            position: point,
            icon: image,
            map: map,
            title: '{{ user.city }}',
            });
            {% endif %}


            marker['infowindow']  = new google.maps.InfoWindow({
                 content: "<h5>{{user.user}}</h5><p>{{ user.address }} {{ user.city }}</p><a href='/admin/intranet/userprofile/{{user.user.id}}/change/'>lien du profil</a>"
            });
            google.maps.event.addListener(marker, 'click', function() {
                //window.location.href = this.url;
                 this['infowindow'].open(map, this);
            });
        {% endfor %}
    }
    window.onload = showmap;
</script>
{% endblock footer_javascript_page %}

{% block footer %}
{% include 'intranet/footer.html' %}
{% endblock footer %}